<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>129723234950-3q1v4bnv995pns4r3646ds5bn76f9ajk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129723234950-3q1v4bnv995pns4r3646ds5bn76f9ajk</string>
	<key>API_KEY</key>
	<string>AIzaSyCFGXSRhdHfu579RT1ziOdDojVPWH9bLeM</string>
	<key>GCM_SENDER_ID</key>
	<string>129723234950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wavycheckin.ios</string>
	<key>PROJECT_ID</key>
	<string>wavy-check-in</string>
	<key>STORAGE_BUCKET</key>
	<string>wavy-check-in.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129723234950:ios:d7605da14a78ad22</string>
	<key>DATABASE_URL</key>
	<string>https://wavy-check-in.firebaseio.com</string>
</dict>
</plist>